:root {
  --primary: #D4AF37;
  --white: #fff;
}

.hero {
  background-image: url(../images/Banner/1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 375px) {
  .hero {
    min-height: 28vh !important;
  }
}

@media (min-width: 376px) and (max-width: 575px) {
  .hero {
    min-height: 24vh !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .hero {
    min-height: 28vh !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hero {
    min-height: 32vh !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hero {
    min-height: 35vh !important;
  }
}

.about {
    min-height: 35vw;
}

.about-content-mask {
    position: absolute;
    background-color: #f6f6f6cc;
    top: -2.3rem;
    right: 1.5rem;
    width: 110%;
    height: 135%;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}


@media (max-width: 1440px) {
    .about-content-mask {
        position: absolute;
        background-color: #f6f6f6cc;
        top: -3px;
        right: 20px;
        width: 110%;
        height: 115%;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
    }
}

@media (min-width: 992px) and (max-width: 1280px) {
  .about-content-mask {
      position: absolute;
      background-color: #f6f6f6cc;
      top: 10px;
      right: 10px;
      width: 105%;
      height: 105%;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
  }
}

@media (max-width: 991px) {
  .about-content-mask {
      position: absolute;
      background-color: #f6f6f6cc;
      top: 0px;
      right: 0px;
      width: 100%;
      height: 100%;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
  }
}

@media (max-width: 768px) {
  .about-content-mask {
      position: absolute;
      background-color: #f6f6f6cc;
      top: 0px;
      right: 50%;
      transform: translate(50%, 0%);
      width: 97.5%;
      height: 100%;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
  }
}

.services-content {
  min-height: 20rem;
}

@media (max-width: 767px) {
  .services-content {
    min-height: auto !important;
  }
}

.sbg-1 {
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/可用素材圖/6.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sbg-2 {
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/可用素材圖/7.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sbg-3 {
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/可用素材圖/8.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sbg {
  /*min-height: 20rem;
  */transition: all 2s ease;
  -webkit-transition: all s ease;
  -moz-transition: all s ease;
  -ms-transition: all s ease;
  -o-transition: all s ease;
}

.services-content:hover  .sbg {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}


.services-text {

}

.swiper {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 70px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 25rem;
  height: 32rem;
}

.tranding-slide-img img {
  max-width: 100%;
  display: block;
  height: 32rem;
  object-fit: cover;
  object-position: center;
  border-radius: 1.3rem;
  -webkit-border-radius: 1.3rem;
  -moz-border-radius: 1.3rem;
  -ms-border-radius: 1.3rem;
  -o-border-radius: 1.3rem;
}

@media (max-width:500px) {
  .swiper-slide {
    width: 18rem !important;
    height: 24rem !important;
  }
  .swiper-slide img {
    height: 24rem !important;
  }
}

.section-heading {
  font-size: 3rem;
  color: var(--primary);
  padding: 1.3rem 0;
}

/* #tranding {
  padding: 4rem 0;
}

@media (max-width:1440px) {
  #tranding {
    padding: 7rem 0;
  }
} */

/* #tranding .tranding-slider {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}

@media (max-width:500px) {
  #tranding .tranding-slider {
    height: 45rem;
  }
}

.tranding-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}

@media (max-width:500px) {
  .tranding-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .tranding-slide .tranding-slide-img img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.tranding-slide .tranding-slide-img img {
  width: 37rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
} */

.tranding-slide .tranding-slide-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.tranding-slide-content .food-price {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--white);
}

.tranding-slide-content .tranding-slide-content-bottom {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1rem;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: var(--white);
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
}

.food-rating {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}

.rating ion-icon {
  color: var(--primary);
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.tranding-slider-control {
  position: relative;
  bottom: -1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tranding-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.tranding-slider-control .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  z-index: 3;
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.tranding-slider-control .slider-arrow::after {
  content: '';
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: max-content;
  bottom: -0.3rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}

.food-name {
  font-size: 1.75rem;
}

@media (max-width:500px) {
  .food-name {
    font-size: 1.35rem;
  }
}

.faq-item-box {
  background-color: #fff;
  padding: 20px 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.faq-item-q {
  cursor: pointer;
}

.faq-item-a {
  display: none;
}

.q-num {
  color: #D4AF37;
}

@media (max-width: 768px) {
  .faq-item-box {
    padding: 20px 1rem;
  }
}

@media (max-width: 992px) {
  .faq-contact-box img {
    position: relative;
    transform: unset;
  }
}

.faq-item-arrow-d .bi::before {
  color: black;
  font-weight: 800 !important;
}

.faq-item-arrow-p .bi::before {
  color: black;
  font-weight: 800 !important;
}

.faq-item-line {
  background: #cc914b;
  height: 1px;
  margin: 15px 0;
  width: 100%;
}

.copyright {
  /* background: #7c7c7e !important; */
  font-size: 14px;
}

@media (max-width: 768px) {
  .copyright {
    margin-bottom: 40px;
  }
}

/* .copyright p {
  color: #1e1e20 !important;
}

.copyright a {
  color: #1e1e20 !important;
} */

.social-links-btn {
  position: fixed;
  z-index: 9;
  top: 50%;
  left: 2%;
  transform: translate(-5%, -50%);
  -webkit-transform: translate(-5%, -50%);
  -moz-transform: translate(-5%, -50%);
  -ms-transform: translate(-5%, -50%);
  -o-transform: translate(-5%, -50%);
}

.social-links-btn a {
  width: 4rem;
}

.social-links-btn-mobile {
  width: 100vw;
  height: 45px;
  z-index: 9;
}

.s-line-btn {
  background: linear-gradient(to top, #71a42c 0%, #a0c251 100%);
  height: 100%;
  border-right: 0.5px solid #fff;
  /* border-left: 0.5px solid #fff; */
}

.s-phone-btn {
  background: linear-gradient(to top, #D4AF37 0%, #f8b834 100%);
  height: 100%;
  /* border-right: 0.5px solid #fff; */
  border-left: 0.5px solid #fff;
}

.s-location-btn {
  background: linear-gradient(to top, #0281ff 0%, #2893ff 100%);
  height: 100%;
  /* border-right: 0.5px solid #fff; */
  border-left: 0.5px solid #fff;
}

.social-links-btn-mobile a {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
}

@media (max-width: 768px) {
  .scroll-top {
    bottom: 60px !important;
  }
}

.contact-box {
  border: 12px solid #D4AF37 !important;
  background-color: #c3a26c !important;
}

.liner-h {
  width: 90%;
  height: 3px;
  background-color: #8f6f3a;
}

.liner-h-2 {
  width: 90%;
  height: 1px;
  background-color: #f6f6f6cc;
}

.text-gold {
  color: #D4AF37 !important;
}
